<!DOCTYPE html>
<html>
<head>
    <!-- import #zmmtg-root css -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/3.5.2/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/3.5.2/css/react-select.css" />
    <script>
      const meetingNumber = "{{ meeting_number }}";
      const userName = "{{ user_name }}";
      const userEmail = "{{ user_email }}";
      const passWord = "{{ password }}";
      const clientID = "{{ client_id }}";
      const jwtToken = "{{ jwt_token }}";
    </script>
<head>
<body>
    <!-- import ZoomMtg dependencies -->
    <script src="https://source.zoom.us/3.5.2/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/3.5.2/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/3.5.2/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/3.5.2/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/3.5.2/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/3.5.2/lib/vendor/lodash.min.js"></script>

    <!-- import ZoomMtg -->
    <script src="https://source.zoom.us/zoom-meeting-3.5.2.min.js"></script>

    <!-- import jsrsasign -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>

    <!-- import local .js file -->
    <script src="static/zoom.js"></script>
</body>
</html>
